* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body h1 {
  color: crimson;
  text-align: center;
}
.box {
  width: 80%;
  height: 250px;
  border: 1px solid lightgrey;
  margin: auto;
  margin-top: 10px;
  display: flex;
}
.box1 {
  flex-basis: 50%;
  border: 1px solid #000;
  width: 100%;
  background-color: lightseagreen;
  color: white;
}
.box1 label {
  font-weight: bold;
  font-size: 24px;
  margin-left: 35px;
}
input[type="text"] {
  height: 30px;
  width: 60%;
  margin-top: 100px;
  margin-left: 10px;
  font-size: 18px;
  font-weight: bold;
}

.box2 {
  flex-basis: 50%;
  width: 100%;
  border: 1px solid #000;
  display: inline;
  display: flex;
  align-items: center;
  font-size: 22px;
  font-weight: bold;
  background-color: lightseagreen;
  color: white;
}

.box2 label {
  font-weight: bold;
  font-size: 24px;
  margin-left: 35px;
  margin-right: 10px;
}
